
@font-face {
  font-family: 'DanielSans';
  src: url('./fonts/Daniel_Sans.ttf');
}


/* @font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('./fonts/alte-haas-grotesk/AlteHaasGroteskRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('./fonts/alte-haas-grotesk/AlteHaasGroteskBold.ttf');
  font-weight: bold;
  font-style: normal;
} */